# 1. Gradle 관련
.gradle/
build/
gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties
build.gradle
settings.gradle


# 2. 자바 빌드 관련
*.class

# 3. 인텔리제이 설정파일
.idea/
*.iml
out/

# 4. OS별 임시 파일
.DS_Store
Thumbs.db
